body {
    margin: 0;
    padding: 0;
    position: relative;
}

.main {
    width: 100%;
    height: 100px;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.content1 h1 a {
    text-decoration: none;
    color: black;
}

.content2 ul {
    list-style: none;
    display: flex;
    gap: 10px;
}
.content2 ul li details summary{
    font-size: 20px;
}
.content2 ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.content3 input {
    border: none;
    background: none;
}

.content3 input:focus {
    border: none;
    background: none;
    outline: none;
}

.content3 {
    background-color: bisque;
    border-radius: 20px;
    height: 20px;
    width: auto;
    padding: 5px 8px;
}
.content3 
.content4 i{
    margin-left: 20px;
}

/*Hero sections */

.herosection {
    position: relative;
    width: 100%;
}

.herosection img {
    width: 100%;
}

.herosection1 {
    position: absolute;
    top: 41px;
    left: 16px;
}

.herosection01 {
    width: 577px;
    height: auto;
    /* margin-top: 237px; */
    /* padding-top: 103px; */
}

.herosection01 h2 {
    font-size: 64px;
    font-family: ;
    margin: 0;
    margin-left: 30px;
}

.herosection01 p {
    font-size: 18px;
    margin-left: 30px;
}

.herosection01 button {
    width: 150px;
    height: 42px;
    background: black;
    border-radius: 20px;
    color: white;
    margin-left: 30px;
}

.herosection01 button a {
    text-decoration: none;
    color: white;
}

.herosection02 {
    width: 596px;
    height: auto;
    display: flex;
    gap: 30px;
    margin-left: 30px;
    padding-top: 15px;
}

.ratesection h2 {
    font-size: 40px;
    margin: 0;
    padding: 12px 6px;
}

/* Hero section 2 */
.herosection2 {
    width: 100%;
    height: 122px;
    background-color: black;
    display: flex;
    /* gap: 50px; */
    justify-content: space-around;
    align-items: center;
}

/* new arival secition */
.newarival {
    position: relative;
}

.arival1 {
    width: 403px;
    height: 58px;
    margin-top: 34px;
    margin-left: 550px;
}

.arival1 h2 {
    margin: 0;
    font-size: 58px;
}

.arival2 .item {
    width: 295px;
    height: 320px;
    /* display: flex; */

}

.arival2 {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
    margin-left: 70px;
    margin-top: 50px;

}

.newarival .arival2 .item .itempic {
    width: 295px;
    height: 298px;

}

.arival2 .item .itempic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.itemdetails .price {
    font-size: 30px;
    margin: 0;
    font-weight: 300;
}

.discount {
    display: flex;
    gap: 10px;
}

.price1 {
    color: #c29393;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    margin-top: 10px;
}

.price2 {
    background-color: rgb(225, 174, 225);
    border-radius: 15px;
}

.arival3 {
    /* background-color: black; */
    margin-top: 110px;
    margin-left: 625px;
}

.arival3 button {
    width: 100px;
    height: 30px;
}

hr {
    width: 90%;
    margin-top: 30px;
}

/* top selling */

.topsellling {
    position: relative;
}

.selling1 {
    width: 403px;
    height: 58px;
    margin-top: 34px;
    margin-left: 550px;
}

.selling1 h2 {
    margin: 0;
    font-size: 58px;
}

.selling2 .item {
    width: 295px;
    height: 320px;
    /* display: flex; */

}

.selling2 {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
    margin-left: 70px;
    margin-top: 50px;

}

.topsellling .selling2 .item .itempic {
    width: 295px;
    height: 298px;

}

.selling2 .item .itempic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.itemdetails .price {
    font-size: 30px;
    margin: 0;
    font-weight: 300;
}

.discount {
    display: flex;
    gap: 10px;
}

.price1 {
    color: #c29393;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    margin-top: 10px;
}

.price2 {
    background-color: rgb(225, 174, 225);
    border-radius: 15px;
}

.selling3 {
    /* background-color: black; */
    margin-top: 110px;
    margin-left: 625px;
}

.arivaselling3l3 button {
    width: 100px;
    height: 30px;
}


/* BROWSE BY DRESS */



.browse {
    width: 1220px;
    height: 800px;
    background-color: #F0F0F0;
    margin-left: 60px;
}

.browsecard1 h2 {
    font-size: 50px;
    margin: 50px 0px 50px 270px;
    padding-top: 60px;
}

.browsecard2 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 57px;
}

.browsecard2 .img1 {
    position: relative;
}

.browsecard2 .img1 .text {
    position: absolute;
    top: 25px;
    left: 35px;
}

.img1 .text h2 {
    font-size: 40px;
    margin: 0;
}

.browsecard2 .img1 img {
    border-radius: 20px;
}

.browsecard2 .img2 {
    position: relative;
}

.browsecard2 .img2 .text {
    position: absolute;
    top: 25px;
    left: 35px;
}

.img2 .text h2 {
    font-size: 40px;
    margin: 0;
}

.browsecard2 .img2 img {
    border-radius: 20px;
}

.browsecard3 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 57px;
    margin-top: 15px;
}

.browsecard3 .img3 img {
    width: 684px;
    height: 289px;
    border-radius: 20px;
}

.browsecard3 .img3 {
    position: relative;
}

.browsecard3 .img3 .text {
    position: absolute;
    top: 25px;
    left: 35px;
}

.img3 .text h2 {
    font-size: 40px;
    margin: 0;
}

.browsecard3 .img4 img {
    width: 407px;
    height: 289px;
    border-radius: 20px;
}

.browsecard3 .img4 {
    position: relative;
}

.browsecard3 .img4 .text {
    position: absolute;
    top: 25px;
    left: 35px;
}

.img4 .text h2 {
    font-size: 40px;
    margin: 0;
}


/* OUR HAPPY CUSTOMERS */

.ouercustomers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 60px;
}

.ouercustomers .customerarrow button {
    background: none;
    border: none;
}

.customerarrow button:focus {
    background-color: burlywood;
    border: 1px solid red;
}

/* Customers reviews */


.customersrivews {
    width: 100%;
    display: flex;
    gap: 20px;
}

.cmrivews {
    width: 500px;
    height: 190px;
    background-color: burlywood;
}

.cmname {
    display: flex;
    gap: 40px;
    margin-top: 15px;
}

.cmname h3 {
    margin: 0;
}


/*STAY UPTO DATE ABOUT OUR LATEST OFFERS  */
.stay_upto{
    width: 1240px;
    height: 180px;
    background-color: black;
    border-radius: 30px;
    margin-left: 50px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stay_text{
    color: white;
    width: 500px;
    height: 90px;
}
.stay_text h2{
    font-weight: 900;
    margin-left: 30px;
}
.info_section{
    width: 309px;
    height: 108px;
    margin-right: 30px;
}
.email{
    width: 309px;
    height: 48px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.sub_button{
    width: 309px;
    height: 48px;
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
}
.email input{
    background: none;
    border: none;
}
.email input:focus{
    background: none;
    border: none;
}
.sub_button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub_button button{
    background: none;
    border: none;
}

/* footer area */
.footerarea{
 margin-top: 50px;
 display: flex;
 margin-right: 50px;
 justify-content: space-between;
}
.footer_card1{
    margin-left: 50px;
    width: 200px;
    height: 150px;
}
.footer_card1 h2{
    font-size: 30px;
    margin: 0;
}
.footer_card1 .shop h2 a{
    text-decoration: none;
    color: black;
}
.footer_card{
    width: 200px;
    height: 177px;
}
.footer_card ul{
    list-style: none;
    /* display: flex; */
    margin: 0;
   
}
.footer_card ul .size{
    font-size: 30px;
    padding-bottom: 20px;
}
.footer_card ul li{
    padding-bottom: 15px;
}
.footer_card ul li a{
    text-decoration: none;
    color: black;
}
/* last time  */
.last_time{
    
    margin: 30px 50px;
    display: flex;
    justify-content: space-between;
}
.first_area_one p{
    font-size: 20px;
}